@model StackOverflow.ViewModels.QuestionViewModel

<tr>
    <td class="align-middle">
        <span class="badge badge-pill bg-warning">@Model.VotesCount</span>
        votes
    </td>
    <td class="align-middle">
        <span class="badge badge-pill bg-secondary">@Model.AnswersCount</span>
        answers
    </td>
    <td class="align-middle">
        <span class="badge badge-pill bg-info">@Model.ViewsCount</span>
        views
    </td>
    <td class="align-middle">
        <a href="/questions/@Model.QuestionID" class="text-primary">@Model.QuestionName</a>
        <br>
        <a href="/categories/@Model.CategoryID">
            <span class="badge badge-pill rounded-2 bg-info">@Model.Category.CategoryName</span>
        </a>
    </td>
    <td class="align-middle">
        @Model.User.Name
    </td>
    <td class="align-middle">
        on  @Model.QuestionDateTime
    </td>
</tr>